/* standard elements */
/*a {
    color: #000;
    text-decoration: none;
}*/
html, body {
    height: 100%;
}
body {
    background: #CCC url(cw-images/bg.gif) repeat-y fixed bottom center;
    color: #333;
    margin: 0;
    text-align: center;
    font: normal 0.8em sans-serif,Arial;
}

.center {
	text-align: center;
}

/* content */
.content {
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    clear: both;
}
.content h1 {
    margin: 0;
    font: bold 1.1em sans-serif,Arial;
    color: #666;
}
.content p {
    margin: 3px 0 6px; color: #666;
}
.item {
    background: #FCFCFC url(cw-images/bgitem.gif) repeat-x;
    padding: 15px 5px 5px 5px;
}

/* footer */
.footer {
    padding: 5px;
    background: #F5F5F5;
    color: #666;
}
.footer a span {font-size: 80%;}
.footer span {font-size: 80%;}

.item table {width: 100%; border: 0; padding: 10px;}
.item table td {padding: 1px;}
.labelcell {width: 15%; font-size: 90%;}
.inputcell {width: 35%; vertical-align: middle;}
.textinput {
    width: 95%; 
    font-size: 85%;
}

/* login */
.login {
    background: #FFF; 
    border: 3px double #EEE; 
    border-color: #E4E4E4 #CFCFCF #CCC #CFCFCF; 
    margin: 0px auto 4px auto; 
    text-align: left;
    width: 300px;
}
.login_container {
    margin: 5px;
}